CLIENT_ID=
CLIENT_SECRET=
REDIRECT_URI=
SCOPES=
DATABASE_URL=
FRONTEND_URL=
NGROK_AUTHTOKEN=
DONATIONALERTS_CLIENT_ID=
DONATIONALERTS_CLIENT_SECRET=
REDIRECT_URI_DONATIONALERTS=
SCOPER_DONATIONALERTS=
ENCRYPTION_KEY=